<div>
  <h2 id="page-heading" data-cy="WebsiteUserHeading">
    <span jhiTranslate="exerciseV2App.websiteUser.home.title">Website Users</span>

    <div class="d-flex justify-content-end">
      <form #f="ngForm" class="form-inline float-right pr-3">
        <div class="form-group mb-2">
          <label for="searchData" class="sr-only">Search data</label>
          <input type="text" class="form-control" id="searchData" name="searchData" [(ngModel)]="criteria.searchData" />
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <select class="form-control" id="searchField" name="searchField" [(ngModel)]="criteria.searchField" >
            <option [ngValue]="searchField.value" *ngFor="let searchField of searchFieldOptions">{{searchField.label}}</option>
          </select>
        </div>
        <button jhiTranslate="exerciseV2App.websiteUser.home.searchLabel" type="button" class="btn btn-secondary mb-2" (click)="searchWebsiteUser()">Search</button>
      </form>

      <button class="btn btn-info mb-2 mr-3" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="exerciseV2App.websiteUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-website-user mb-2"
        [routerLink]="['/website-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="exerciseV2App.websiteUser.home.createLabel"> Create a new Website User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="websiteUsers?.length === 0">
    <span jhiTranslate="exerciseV2App.websiteUser.home.notFound">No websiteUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="websiteUsers && websiteUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="login">
            <span jhiTranslate="exerciseV2App.websiteUser.login">Login</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="exerciseV2App.websiteUser.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="exerciseV2App.websiteUser.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="exerciseV2App.websiteUser.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="language">
            <span jhiTranslate="exerciseV2App.websiteUser.language">Language</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profiles">
            <span jhiTranslate="exerciseV2App.websiteUser.profiles">Profiles</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="exerciseV2App.websiteUser.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <span jhiTranslate="exerciseV2App.websiteUser.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activated">
            <span jhiTranslate="exerciseV2App.websiteUser.activated">Activated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="exerciseV2App.websiteUser.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let websiteUser of websiteUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/website-user', websiteUser.id, 'view']">{{ websiteUser.id }}</a>
          </td>
          <td>{{ websiteUser.login }}</td>
          <td>{{ websiteUser.firstName }}</td>
          <td>{{ websiteUser.lastName }}</td>
          <td>{{ websiteUser.email }}</td>
          <td>{{ websiteUser.language }}</td>
          <td>{{ websiteUser.profiles }}</td>
          <td>{{ websiteUser.createdDate | formatMediumDate }}</td>
          <td>{{ websiteUser.modifiedDate | formatMediumDate }}</td>
          <td>{{ websiteUser.activated }}</td>
          <td>{{ websiteUser.password }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/website-user', websiteUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/website-user', websiteUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(websiteUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="websiteUsers && websiteUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
